<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <title>만족도 조사</title>

  <link rel="icon" href="/resources/img/char.png" type="image/x-icon">
  <link rel="stylesheet" href="/resources/css/main.css" />

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
  <div class="popup window-popup satisfaction">
    <div class="popup-box">
      <div class="pop-body">
        <h4>스포츠센터 챗봇의 만족도를 선택해주세요.</h4>
        <div class="rating-wrap">
          <div class="rating-box">
            <button onclick="btnPoint(1)" class="rate-btn"></button>
            <button onclick="btnPoint(2)" class="rate-btn"></button>
            <button onclick="btnPoint(3)" class="rate-btn"></button>
            <button onclick="btnPoint(4)" class="rate-btn"></button>
            <button onclick="btnPoint(5)" class="rate-btn"></button>
          </div>
          <div class="rating-info"></div>
        </div>

        <div class="survey-box">
          <div class="top">
            <h5>불편을 느끼신 항목을 알려주시면 <br class="mob" /> 다음 서비스엔 꼭 좋아요를 받아 볼게요.</h5>
            <p>폭언, 욕설, 성희롱 등 아픈 말은 참아주세요.</p>
          </div>
          <div class="textarea">
            <label>
              <textarea id="comment" placeholder="의견을 입력해주세요. (최대 500자)" maxlength="500"></textarea>
            </label>
          </div>
        </div>
      </div>
      <div class="pop-foot">
        <button class="confirm-btn" disabled>설문완료</button>
      </div>
    </div>
  </div>

  <div class="popup satisfaction-confirmed">
    <div class="popup-box">
      <div class="pop-body">
        <div class="char"><img src="/resources/img/char.png" alt=""></div>
        <h4>만족도 설문조사에 응해주셔서 감사합니다.</h4>
      </div>
      <div class="pop-foot">
        <button class="confirm-btn">완료</button>
      </div>
    </div>
  </div>
  <script>
    let point=0;
    function btnPoint(value){
      point=value;
    }
    $(function(){
      companyText=new URL(window.location.href).searchParams.get("company")?new URL(window.location.href).searchParams.get("company"):'올림픽스포츠센터';
      //쿠키 값 가져오기
      function get_cookie(name) {
        var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
      }
      let api_base=location.pathname!=='/'?location.pathname:location.origin;
      //평가 보내기
      function evalInsert(){
        let data=JSON.parse(get_cookie('evalList'));
        //회사이름 가져오기
        let company=new URL(window.location.href).searchParams.get("company")?new URL(window.location.href).searchParams.get("company"):'올림픽스포츠센터';
        let comment=document.querySelector(`#comment`).value;
        fetch(api_base.replace("/window","")+`/insertEval`, {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({
            company:company,
            data:data,
            session_id:get_cookie(company+"session_id")?get_cookie(company+"session_id"):"",
            point:point,
            comment:comment
          }),
        });
        evalList=[];
        document.cookie = `evalList=${JSON.stringify(evalList)}; path=/; `;
      }
      $(document).on("click", ".rating-box .rate-btn", function(){
        const i = $(this).index();
        const text = ["1점 매우불만족", "2점 불만족", "3점 보통", "4점 만족", "5점 매우만족"];

        $(this).parent().find("> .rate-btn").removeClass("active");
        $(this).addClass("active");
        $(this).parent().next().text(text[i]);
        if(i < 2){
          $(this).closest(".pop-body").find(".survey-box").addClass("active");
          if($(this).closest(".popup-box").find(".survey-box textarea")[0].value.length > 0){
            $(this).closest(".popup-box").find(".pop-foot .confirm-btn").attr("disabled", false);
          }else{
            $(this).closest(".popup-box").find(".pop-foot .confirm-btn").attr("disabled", true);
          }
        }else{
          $(this).closest(".pop-body").find(".survey-box").removeClass("active");
          $(this).closest(".popup-box").find(".pop-foot .confirm-btn").attr("disabled", false);
        }
      });

      $(document).on("input", ".survey-box textarea", function(e){
        const value = e.target.value;
        if(value.length > 0){
          $(this).closest(".popup-box").find(".pop-foot .confirm-btn").attr("disabled", false);
        }else{
          $(this).closest(".popup-box").find(".pop-foot .confirm-btn").attr("disabled", true);
        }
      });

      $(document).on("click", ".satisfaction .confirm-btn", function(){
        $(".satisfaction-confirmed").addClass("active");
        //평가점수 로그
        evalInsert()
        if(companyText !== "올림픽스포츠센터"){
          $(".satisfaction-confirmed img").attr("src", `/resources/images/char${companyText}.png`);
        }
      });

      $(document).on("click", ".satisfaction-confirmed .confirm-btn", function(){
        window.close();
      });
    });
  </script>
</body>
</html>